{% load static %}

{% block page_content %}

<div class="modal-header">
  <h3 class="modal-title text-secondary">Project details</h3>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body text-muted">

    <h2 class="text-secondary">{{ project.title }}</h2>
    <div class="row">
		<div class="detail-image col-md-8">
			{% if project.image %}
				<img src="{{ project.image }}" alt="" width="100%">
			{% endif %}
		</div>
        <br>
        <div class="col-md-4 mt-4 text-normal">
            <h5 class="text-secondary">Created:</h5>
            <p>{{ project.display_created }}</p>
            <br>
            <h5 class="text-secondary">Technology used:</h5>
            <p>{{ project.technology }}</p>
            <br>
            <h5 class="text-secondary">About the project:</h5>
            <p>{{ project.description|safe }}</p>
        </div>
    </div>

</div>

<div class="modal-footer w-100">
    <div class="d-flex justify-content-around">
        {% if project.github_link %}
            <a class="button btn btn-primary mx-1 text-secondary font-header" href="{{ project.github_link }}" target="_blank">View on GitHub</a>
        {% endif %}
        {% if project.codepen_link %}
            <a class="button btn btn-primary mx-1 text-secondary font-header" href="{{ project.codepen_link }}" target="_blank">Run with CodePen</a>
        {% endif %}
        <button type="button" class="btn btn-primary mx-1 text-secondary font-header" data-dismiss="modal">Close</button>
    </div>
</div>

{% endblock %}
